
<h2>  Action Items To </h2>
<form action="/newtodo" method="POST">
<textarea id="note" type= "text" name="item3" placeholder="Enter Feedback"></textarea>
<span><button class="btn btn-primary" type ="submit">Submit</button></span>

</form>

<ul>
          
    <%  for(var i = 0; i<actionlist.length;i++){  %>
         <li><form action="/update/<%= actionlist[i]._id %>" method="POST">
              <textarea id="note" name="item2"><%= actionlist[i].name %></textarea> 
              <div style="display: inline-block"><button class="btn dynamic-button" type="submit">Save</button></form>
              <a class="btn btn-raised btn-danger" href="/delete/<%= actionlist[i]._id %>">Delete</a>
             </div>
         </li>
  <%}%>
   </ul>