
<form action="/newtodo" method="POST">
<textarea id="note" type= "text" name="item5" placeholder="Enter Feedback"></textarea>
<span><button class="btn btn-primary" type ="submit">Submit</button></span>

</form>

<ul>
          
    <%  for(var i = 0; i<appreclist.length;i++){  %>
         <li><form action="/update/<%= appreclist[i]._id %>" method="POST">
              <textarea id="note" name="item4"><%= appreclist[i].name %></textarea> 
              <div style="display: inline-block"><button class="btn dynamic-button" type="submit">Save</button></form>
              <a class="btn btn-raised btn-danger" href="/delete/<%= appreclist[i]._id %>">Delete</a>
              <span><button id="im" class="w3-button w3-xsmall w3-teal">+</button>
                <button id="im1" class="w3-button w3-xsmall w3-red w3-card-4">-</button></span>
             </div>
         </li>
  <%}%>
   </ul>